@if (ViewBag.SoLENumbers != null)
{
    <h3>Результат:</h3>
    for (var i = 0; i < ViewBag.SoLENumbers.Length; i++)
    {
        <div><b><i>@string.Format("{0} = {1}", ViewBag.SoLEVariables[i], ViewBag.SoLENumbers[i])</i></b></div>
    }
}
else
{
    <h3>Результат не найден!</h3>
}