@{
    ViewBag.Title = "Калькулятор решения систем линейных уравнений";
}

<h1>@ViewBag.Title</h1>

@using (Ajax.BeginForm("Calculate", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }))
{
    <div id="form">
        <div>
            <span>Количество неизвестных величин в системе: </span>
            <select>
                <option>2</option>
                <option selected>3</option>
                <option>4</option>
            </select>
        </div>

        <div id="sole"></div>
        <input type="submit" value="Решить систему линейных уравнений" />
        <div id="result"></div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sole').append(createSole(3));
        });
    </script>
}