@{
    ViewBag.Title = "Калькулятор решения систем линейных уравнений";
}

<h1>@ViewBag.Title</h1>

@using (Ajax.BeginForm("Calculate", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }))
{
    <div id="form">
        <textarea id="sole" name="sole"></textarea>
        <input type="submit" value="Решить системы линейный уравнений" />
        <div id="result"></div>
    </div>
}